.header {
    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #EB3F3F; /* green background */
    color: white; /* white text color */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
  }

  .navbar {
    overflow: hidden; /* Hide overflow */
    background-color: black; /* Dark background color */
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
    
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right; /* Float a link to the right */
  }
  
  /* Change color on hover/mouse-over */
  .navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: #FF7323; /* Black text color */
  }

  * {
    box-sizing: border-box;
  }
  
  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
   
  }

  .container_int{
    display: flex;
  }

.container_dev1{
  display: flex;


  
}
.container_des1{
  display: flex;
}
.container_dev2{
  margin-top: 50px;
}
.container_dev3{
  display: flex;
}
.container_res1{
  display: flex;
}
.container_res2{
  margin-top: 50px;
}

.container_com1{
  display: flex;
  margin-right: 50px;
}

.textblok{
  margin: 30px;
}
 
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  
  /* Main column */
  .main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
  }

  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #EB3F3F; 
    color: white;
  }

 .main_interactievemedia {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
 }

  .main_interactievemedia h4 {
    font-weight: normal;
  }

  .main_interactievemedia h1 {
    text-align: center;
    font-weight: 100;
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: red;
  
    border: solid  7px red;
    border-radius: 30px;
  
    padding: 5px 5px;
  }
.main_interactievemedia h2{
  text-align: center;
}

.main_development h1 {
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: red;
  border: solid  7px red;
  border-radius: 30px;
  

  padding: 5px 5px;
}

.main_aboutme{
  flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
    
}
.main_aboutme h2 {
  text-align: center;
}
.main_aboutme h3{
  font-weight: normal;
  text-align: initial;
}

.img-profielfoto {
  width: 226px;
  height: 381px;
 
}

.side {
  flex: 0.5%; /* Set the width of the sidebar */
   background-color: #eb3f3f;/* Grey background color */
  padding: 14px 20px; /* Some padding */
  text-decoration: none;
  color: grey;
 }
.side ul li{
  padding:15px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(225,225,225,0.05);
  display: block;
}
.side ul li:hover{
background: rgb(230, 120, 120);
}
.side ul li:hover a{
color: rgb(138, 11, 11);
  }

.main_development{
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  text-align: left;
}

.main_development h4 {
  font-weight: normal;
  text-align: left;
}
.main_development h2{
  text-align: center;
}


.mainnav a:-webkit-any-link, .navbar a:-webkit-any-link  {
  color: white;
  cursor: pointer;
  text-decoration: none;
}


.mainnav ul {
list-style: none;
padding: 0;
}

.main_design h1{
text-align: center;
font-weight: 100;
font-size: 40px;
text-align: center;
color: white;
background-color: red;

border: solid  7px red;
border-radius: 30px;

padding: 5px 5px;
}
.main_design{
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  text-align: left;
}

.main_design h4{
  font-weight: normal;
 
}

.main_professional_Identity{
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  text-align: left;
}

.main_professional_Identity h1{
text-align: center;
font-weight: 100;
font-size: 40px;
text-align: center;
color: white;
background-color: red;

border: solid  7px red;
border-radius: 30px;

padding: 5px 5px;
}


.main_professional_Identity h4{
  font-weight: normal;
}



.main_research{
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  text-align: left;
}
.main_research h2{
  text-align: center;
}

.main_research h4{
  font-weight: normal;
}
.main_communication h4{
  font-weight: normal;
}

.main_communication{
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
  text-align: left;
}
.main_communication h1{
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: red;

  border: solid  7px red;
  border-radius: 30px;

  padding: 5px 5px;
}
.main_communication h2{
  text-align: center;
}
.main_research h1{
  text-align: center;
  font-weight: 100;
  font-size: 40px;
  text-align: center;
  color: white;
  background-color: red;

  border: solid  7px red;
  border-radius: 30px;

  padding: 5px 5px;
}
.knop{
  font-family: "proxima nova";
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  color: #ff4931;

  border: solid  2px #ff4931;
  border-radius: 50px;

  padding: 10px 15px;

  transition-duration: 200ms;
  text-decoration: none;
  
}


.knop:hover{
  background-color:#ff4931 ;
  color: #fff;
}

/*images */


.img-infographic{
  width: 715px;
  height: 384px;
}
.img-poster{
  width: 330px;
  height: 467px;
}
.img-homescreen3 {
  width: 200px;
  height: 400px;
}
.img-metingen3 {
  width: 200px;
  height: 400px;
}
.img-gps3 {
  width: 200px;
  height: 400px;
}
.img-muziek3{
  width: 200px;
  height: 400px;
}
.img-instellingen3{
  width: 200px;
  height: 400px;
}
.img-login3{
  width: 200px;
  height: 400px;
}
.img-agenda-mockup2{
  width: 200px;
  height: 400px;
}
.img-gps-mockup2{
width: 200px;
  height: 400px;}
  .img-inloggen-mockup2{
    width: 200px;
  height: 400px;
  }
.img-innameoverzicht-mockup2{
width: 200px;
  height: 400px;
}
.img-metingen-mockup2{
width: 200px;
  height: 400px;
}
.img-instellingen-mockup2{
width: 200px;
  height: 400px;
}
.img-medicatieoverzicht-mockup2{
width: 200px;
  height: 400px;
}
.img-overzichtschermnieuw-mockup2{
  width: 200px;
  height: 400px;
}
.img-medicatie-mockup2{
width: 200px;
  height: 400px;
}
.img-RPS {
  width: 200px;
  height: 150px;
}
.img-agenda-mockup{
  width: 200px;
  height: 400px;
}
.img-gps-mockup{
width: 200px;
  height: 400px;}

  .img-inloggen-mockup{
    width: 200px;
  height: 400px;
  }
.img-innameoverzicht-mockup{
width: 200px;
  height: 400px;
}
.img-metingen-mockup{
width: 200px;
  height: 400px;
}
.img-instellingen-mockup{
width: 200px;
  height: 400px;
}
.img-medicatieoverzicht-mockup{
width: 200px;
  height: 400px;
}
.img-overzichtschermnieuw-mockup{
  width: 200px;
  height: 400px;
}
.img-medicatie-mockup{
width: 200px;
  height: 400px;
}

.img-wijzigdisplay{
  width: 200px;
  height: 400px;
}
.img-wijzigontstresser2{
  width: 200px;
  height: 400px;
}
.img-wijzigontstresser4{
  width: 200px;
  height: 400px;
}
.img-wachtwoord{
  
    width: 200px;
    height: 400px;
  
}